*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
  padding: 100px;
  background-color: lightgrey;
  padding-left: 100px;
}
nav h1{
     padding-top: 80px;
     font-size: 5rem;
}
nav p{
     font-size: 2rem;
}
nav button{
     padding: 10px;
     font-size: 1rem;
     border: none;
     background-color: blue;
     color: white ;
     border-radius: 10px;
}
.row{
  padding:100px;
  display:flex;
  text-align:left;
  justify-content:space-between;
  flex-wrap: wrap;  
  gap: 30px;
}
.row section{
  flex: 1 1 300px; 
}

.row h2{
     font-size: 2rem;
}
.row p{
     font-size: 1rem;
}
.row button{
     padding: 10px;
     border: none;
     background-color: lightslategray;
     border-radius: 10px;
}
footer{
     border-top: 5px solid black;
     padding-left: 100px;
}
