*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.parent{
     width: 1000px;
     height: 900px;
     margin: auto;
     margin-top: 100px;
     border: 1px solid black;
     /* make parent as grid container */
     display: grid;
     grid-template-columns:1fr 1fr 1fr 1fr; /* 10% 20% 30%*/
     grid-template-rows:1fr 1fr 1fr;
     gap: 10px;
} 
.child1{
     grid-column: 1/3;
     grid-row: 1/2;
     background-color: white;
     display: flex;
     justify-content: space-between ;
     padding-top: 30px;
     padding-left: 30px;
}
.child2{
     grid-column: 3/5;
     grid-row: 1/2;
     background-color: lightgrey;
     padding: 30px;
     text-align: center;
}

.child2 a{
     border: none;
     color: blue;
     padding-top: 20px;
}
.child3{
     grid-column: 1/2;
     grid-row: 2/3;
     background-color: red;
     text-align: center;
     color: white;
     padding: 30px;
}
.child3 a{
     text-decoration: none;
     color: yellow;
}
.child4{
     grid-column: 2/4;
     grid-row: 2/3;
     background-color: white;
     display: flex;
     justify-content: space-between;
     padding: 30px;
}
.child5{
     text-align: center;
     grid-column: 4/5;
     grid-row:2/4 ;
     background-color: violet;
}
.child6{
     grid-column:1/2;
     grid-row:3/4 ;
     background-color: wheat
}
.child7{
     grid-column: 2/4;
     grid-row: 3/4;
     background-color: lightseagreen;
}